# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "44c605e398e252fbc7fdd0cc5a74d230"
name = "dropshiping-app"
application_url = "https://test-shopify-app-1u93.onrender.com"
embedded = true
handle = "dropshiping-app-2"

[build]
automatically_update_urls_on_dev = true
dev_store_url = "wonsite.myshopify.com"

[webhooks]
api_version = "2025-04"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_assigned_fulfillment_orders,read_customers,read_orders,write_assigned_fulfillment_orders,write_customers,write_orders,write_products,write_shipping, read_shipping,read_fulfillments"

[auth]
redirect_urls = [
  "https://wonport-be-jsri.onrender.com/shopifyAccount/callback",
  "https://165cfc249049.ngrok-free.app/shopifyAccount/callback"
]

[pos]
embedded = false
